
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>审批事项</title>
    @Styles.Render("~/static/Weekly/iview.css")
    @Scripts.Render("~/Scripts/vue.js")
    @Scripts.Render("~/Scripts/IView/iview.js")
    @Scripts.Render("~/Scripts/vue-resource.js")
    @Scripts.Render("~/static/common/test.js")

    <style scoped>
        .expand-row {
            margin-bottom: 16px;
        }
    </style>
</head>
<body>
    <template id="initiateTplt">

        <div style="">

            <Affix style="width:100px;position:absolute;margin-top:10%;" :offset-top="100">
                <Button-Group vertical size="large">
                    <i-Button style="margin-left:2px;border-bottom:solid black" type="success" shape="circle">填写申请</i-Button>
                    <p>         </p>
                    <i-Button style="margin-left:2px" type="info" shape="circle">考勤说明</i-Button>
                </Button-Group>
            </Affix>

            <Card :dis-hover="true" v-for="(item, index) in dateList" :key="index" style="margin: 3% 23%  3% 10% ">

                <div style="padding: 10px">
                    <row style="border-bottom:solid #000000">
                        <i-col span="6"><h3 style="color:#1a0404"><{{item.ApplyType.Name}}>  申请</h3> </i-col>
                        <i-col span="10" offset="8">
                            <span style="font-size:11px">
                                {{item.SubTime|getLocalTime}} 提交
                                &nbsp;<a v-if="item.State==2" href="javascript:void(0)" v-on:click="annul(item.Id)">撤销</a>
                                &nbsp;&nbsp;<a v-if="item.State>1">修改</a>
                                &nbsp;&nbsp;<a v-if="item.State==3">再次提交</a>
                            </span>
                        </i-col>
                    </row>

                    <br />
                    <div v-if="item.Number>0">
                        <row>
                            <i-col span="24">
                                <span style="font-size:17px;">请假时长: </span>
                                <span style="color:crimson">{{item.BeginDate|getLocalTime}}</span>
                                至 <span style="color:crimson">{{item.EndDate|getLocalTime}}</span>
                            </i-col>
                        </row><br />
                    </div>
                    <div v-if="item.Money>0">
                        <row>
                            <i-col span="6">
                                <span style="font-size:17px;">金额: </span>
                                ￥<span style="color:crimson">{{item.Money}}</span>
                            </i-col>
                        </row><br />
                    </div>
                    <span style="font-size:17px;">理由: </span>
                    <p style="margin-left:5%;word-break:break-word;">{{item.Remark1}}</p>
                </div>

                <Steps style="margin-right:2%;margin-top:2%;width:99%" size="small" :current="item.State<2?2:1">
                    <Step title="提交申请" content="已提交申请"></Step>
                    <Step title="审批" :status="item.State|Step2States" :content="item.State|Step2Content(item)"></Step>
                    <Step :status="item.State|Step3States" title="审批结果" :content="item.State|Step3Content(index,item.UserInfo1.UName,item.Remark2)"></Step>
                </Steps>
            </Card>
        </div>

    </template>



    <template id="receiveTplt">
        <i-Table disabled-hover :border="true" :columns="columns" :data="list"></i-Table>
    </template>



    <div style="margin:2% 2% 3% 2%;height:530px" id="app">
        <tabs style="width:100%;" :animated="true">
            <tab-pane style="background: #f8f8f9" :label="initiateMsg">

                <initiate style="width:100%;height:550px;overflow-y:auto"> </initiate>
            </tab-pane>
            &nbsp;

            <tab-pane style="background: #f8f8f9" :label="receiveMsg">
                <receive style="margin:2% 2%"></receive>
            </tab-pane>
        </tabs>

    </div>
</body>

@Scripts.Render("~/static/Apply/initiate.js")


@Scripts.Render("~/static/Apply/receive.js")

@Scripts.Render("~/static/Apply/main.js")



</html>
