
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Iview/iview.css" rel="stylesheet" />
    @Scripts.Render("~/Scripts/vue.js")
    @Scripts.Render("~/Scripts/vue-resource.js")
    @Scripts.Render("~/Scripts/IView/iview.js")
    @Styles.Render("~/static/UsrMgr/formCss.css")
</head>
<body>

    <div id="UserTable">
        <div id="MgrUser">
            <div>
                <span style="text-align:center;margin-left:4%;font-size:16px;font-style:unset;color:crimson">ID：{{formItem.Id}}</span>


                <span style="margin-left:2%">用户名：</span>
                <i-input style="width:150px " v-model="formItem.UserName" placeholder="员工姓名"></i-input>

                <span style="margin-left:2%">部门：</span>
                <i-select style="width:150px" id="select" v-model="formItem.selectDep">
                    <i-option v-for="item in depAndRole.depData" :value="item.ID">{{item.DepName}}</i-option>
                </i-select>


                <span style="margin-left:2%">岗位：</span>
                <i-select style="width:150px" id="select" v-model="formItem.selectRole">
                    <i-option v-for="item in depAndRole.roleData" :value="item.ID">{{item.RoleName}}</i-option>
                </i-select>


                <span style="margin-left:2%">账号状态：</span>
                <i-switch v-model="formItem.switch" size="large">
                    <span slot="open">启用</span>
                    <span slot="close">禁用</span>
                </i-switch>

                <i-Button style="margin-left:2%" v-on:click="addOrEditUser" :type="formItem.submitBtn.type">{{formItem.submitBtn.value}}</i-Button>
                <i-Button style="margin-left:2%" v-on:click="cleanformItem" type="success">取消</i-Button>

            </div>
        </div>
        <div id="seachModule" align="center">
            <i-input v-model="page.searchByName" placeholder="请输入姓名" clearable style="width:200px"></i-input>
            <i-button type="primary" shape="circle" v-on:click="searchUInfo" icon="ios-search"></i-button>
        </div>
        <i-Table border :columns="columns7" :data="data6"></i-Table>
        <div id="PageModule">
            <Page v-on:on-change="pageChange" :current="page.current" :page-size="page.size" :total="page.total" align="center" show-elevator />
        </div>
    </div>
</body>
@Scripts.Render("~/static/UsrMgr/main.js")
</html>
